clearml==1.14.4
efficientnet_pytorch==0.7.1
fvcore==0.1.5.post20221221
imagesize==1.4.1
matplotlib==3.6.0
numpy==1.23.3
onnx==1.15.0
onnxruntime==1.17.1
opencv_python==4.6.0.66
packaging==21.3
pandas==1.5.0
Pillow==10.2.0
pycocotools==2.0.7
pytorch_lightning==2.2.1
scipy==1.9.1
seaborn==0.13.2
submitit==1.5.1
torch==1.13.1
torchvision==0.14.1
transformers==4.38.2
ultralytics==8.1.24
